/* Add Jost as font to use later */
@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(./fonts/static/Jost-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, button, p {
  font-family: Jost;
  margin: 0;
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  transition: background-color 120ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
}

.searchInput {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 6px 16px;
  background-color: white;
  font-size: 18px;
}

.searchButton {
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 10px;
  padding: 6px 16px;
  background-color: white;
  font-size: 18px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  text-align: center;
}

@media (max-width: 700px) {
  .pageContent {
    width: 80vw;
  }
}

.weatherResults {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 18px;
}

.weatherIcon {
  height: 100px;
  width: 100px;
}

.weatherStats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weatherDegrees {
  font-size: 50px;
}

.weatherDescription {
  font-size: 20px;
  font-weight: bold;
}

.weatherSlider {
  margin-top: 5vh;
}

.errorLabel {
  margin-top: 18px;
  font-family: Jost;
  font-size: 20px;
  font-weight: bold;
}
